.navbar {
    background: #0d6efd;
    color: white;
    padding: 15px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    color: white;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
    color: #ffd43b;
}